<html>
        <head>
    
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
            
            <script src="/js/module.js"></script>
            <script src="/js/search.js"></script>
            

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            
            <title>Plivy Job Portal</title>
            <style>
                .nopadding{
                    padding:0px;
                }
                .rightfloat{
                    float:right;
                }
                .leftfloat{
                    float:left;
                }
                .addedpadding{
                    padding:15px;
                    background-color:#e9ecef;
                }
            </style>
        </head>
        <body ng-app="app" ng-controller="search">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
                        <a class="navbar-brand" href="#">Plivo Job Portal</a>
                        
                      </nav>
            <div class="jumbotron">
                    <p class="rightfloat nopadding">Recruitment Page</p>
                    <p class="leftfloat nopadding">Consultant: Venki</p>
            </div>
            <div class="row">
                <!-- 
                Search and Filters Section
                -->
                <div id="searchsection" class="container addedpadding">
                    <input type="text" class="form-control" placeholder="Enter Job title" ng-model="jobtitle" ng-keyup="updatejobs()">
                    <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="opencheck">
                            <label class="form-check-label" for="exampleCheck1">Open</label>
                          </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="closecheck">
                        <label class="form-check-label" for="exampleCheck1">Close</label>
                    </div>
                </div>
                <!-- 
                Posted Jobs Section
                -->
                <div class="container" style="padding:35px;">
                </div>
                <div id="postedjobssection" class="container">
                    <center><p>Jobs</p></center>
                    <table class="table">
                        <tr>
                            <th>title</th>
                            <th>status</th>
                            <th>company</th>
                            <th>dateposted</th>
                        </tr>
                        <tr ng-if="data.jobs.length!=0" ng-repeat="jobs in data.jobs" ng-click="changedata(jobs.id,jobs.jobtitle)">
                            <td ng-cloak><a href="#shortlistedsection">[{[jobs.jobtitle]}]</a></td>
                            <td ng-cloak><a href="#shortlistedsection">[{[jobs.status]}]</a></td>
                            <td ng-cloak><a href="#shortlistedsection">[{[jobs.company]}]</a></td>
                            <td ng-cloak><a href="#shortlistedsection">[{[jobs.dateposted]}]</a></td>
                        </tr>
                       
                    </table>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addnewjobs" >Add a new job</button>                                                    
                </div>
                <!--
                Jobs Data
                -->
                <div class="container" style="padding:35px;">
                       
                </div>
                <div class="container ">
                    <div class="row">
                    <!--
                    List of Short Listed Candidates
                    -->
                        <div id="shortlistedsection" class="col-6 addedpadding">
                            <center><p>Candidates</p></center>
                            <center><p>Showing candidates for [{[selectedjobtitle]}]</p></center>

                                <table class="table">
                                    <tr>
                                        <th>Name</th>
                                        <th>Company</th>
                                        <th>CTC</th>
                                        <th>Experience</th>
                                    </tr>
                                    <tr ng-if="selectedjob.length!=0" ng-repeat="candidates in selectedjob" ng-click="showstatus(candidates.id,selectedjobid,candidates.name)">
                                        <td ng-cloak><a href="#interviewsection">[{[candidates.name]}]</a></td>
                                        <td ng-cloak><a href="#interviewsection">[{[candidates.company]}]</a></td>
                                        <td ng-cloak><a href="#interviewsection">[{[candidates.ctc]}]</a></td>
                                        <td ng-cloak><a href="#interviewsection">[{[candidates.experience]}]</a></td>
                                    </tr>
                                    <tr ng-if="selectedjob.length==0">
                                            <td ng-if="selectedjobid!=null">No Applicants for this position yet</td>
                                            <td ng-if="selectedjobid==null">Select a job to view the candidates</td>
                                    </tr>
                                </table>
                                <button class="btn btn-default" data-toggle="modal" data-target="#candidatemodal">Add a new candidate</button>
                        </div>
                        <div id="interviewsection" class="col-6" >
                                <center><p>Interview Status</p></center>
                                <table class="table">
                                    <tr ng-repeat="details in candidatestatus">
                                        <td ng-cloak>[{[details.interview]}]</td>
                                        <td ng-cloak>[{[details.interviewer]}]</td>
                                        <td ng-cloak>[{[details.date]}]</td>
                                        <td ng-cloak>[{[details.result]}]</td>
                                    </tr>
                                </table>
                                <button class="btn btn-default" data-toggle="modal" data-target="#statusmodal">Add a new update</button>                                
                        </div>



                        <div class="modal" id="addnewjobs">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                              
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="modal-title">Add a new job</h4>
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                              
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                  <label for="name">Title of the Job</label>
                                                  <input type="text" class="form-control" id="job_title">
                                                </div>
                                                <div class="form-group">
                                                  <label for="cuc">Company:</label>
                                                  <input type="text" class="form-control" id="offering_company">
                                                </div>
                                                <div class="form-group">
                                                        <label for="status">Status:</label>
                                                        <select id="status_of_job" class="form-control">
                                                            <option value="open">Open</option>
                                                            <option value="close">Close</option>
                                                          </select>
                                                        <!--input type="text" class="form-control" id="status_of_job"-->
                                                </div>
                                                <div class="form-group">
                                                    <label for="jobdateposted">Dateposted:</label>
                                                    <input type="date" class="form-control" id="jobdateposted">
                                                </div>
                                              </form>
                                    </div>
                              
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                      <button type="button" class="btn btn-primary" ng-click="addnewjobs()" data-dismiss="modal">Submit</button>                                      
                                    </div>
                              
                                  </div>
                                </div>
                              </div>

                        <div class="modal" id="candidatemodal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                              
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="modal-title">Add a new candidate</h4>
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                              
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                  <label for="name">Name of candidate</label>
                                                  <input type="text" class="form-control" id="name">
                                                </div>
                                                <div class="form-group">
                                                  <label for="cuc">Current Company:</label>
                                                  <input type="text" class="form-control" id="cuc">
                                                </div>
                                                <div class="form-group">
                                                        <label for="ctc">Current CTC:</label>
                                                        <input type="text" class="form-control" id="ctc">
                                                </div>
                                                <div class="form-group">
                                                    <label for="experience">Experience:</label>
                                                    <input type="text" class="form-control" id="experience">
                                                </div>
                                              </form>
                                    </div>
                              
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                      <button type="button" class="btn btn-primary" ng-click="addnewcandidates()" data-dismiss="modal">Submit</button>                                      
                                    </div>
                              
                                  </div>
                                </div>
                              </div>

                              <div class="modal" id="statusmodal">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                  
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                          <h4 class="modal-title">Add update about the candidate</h4>
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                  
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                                <form>
                                                        <div class="form-group">
                                                          <label for="interview">Interview</label>
                                                          <input type="text" class="form-control" id="interview">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="interviewer">Interviewer</label>
                                                          <input type="text" class="form-control" id="interviewer">
                                                        </div>
                                                        <div class="form-group">
                                                                <label for="date_of_interview">Date of Interview</label>
                                                                <input type="date" class="form-control" id="date_of_interview">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="result">Result</label>
                                                            <input type="text" class="form-control" id="result">
                                                        </div>
                                                      </form>
                                        </div>
                                  
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" ng-click="addnewcandidatestatus()" data-dismiss="modal">Submit</button>                                                                            
                                        </div>
                                  
                                      </div>
                                    </div>
                                  </div>
                    </div>
                </div>
            </div>
        </body>
    </html>